*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
}

.column {
    width: 32%;
    background-color: gainsboro;
    border: 1px black solid;
    margin-left: 5px;
    margin-bottom: 5px;
    float: left;
}

.title {
    width: fit-content;
    margin-bottom: 10px;
    float: right;
}

#column-title1 {
    background-color: pink;
}

#column-title2 {
    background-color: indianred;
}

#column-title3 {
    background-color: burlywood;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
}

h3 {
    padding: 5px 20px;
    border: 2px black solid;
}

p {
    clear: right;
    padding: 0px 10px 10px 10px;
}

@media (max-width: 991px) and (min-width: 768px) {
    #column1, #column2 {
        width: 49%;
    }
    #column3 {
        width: 98.5%;
    }
}

@media (max-width: 767px) {
    .column {
        width: 98%;
    }
}

